# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Project specific outputs
outputs/
data/intermediate/
data/images/
*.log
